pkgbase = librewolf-firefox-symlink-kj_sh604
	pkgdesc = A symlink for using librewolf as a firefox dropin replacement
	pkgver = 1
	pkgrel = 2
	url = https://librewolf.net/
	arch = any
	license = The Unlicense
	depends = librewolf
	provides = firefox
	conflicts = firefox
	conflicts = librewolf-firefox-shim
	source = firefox.desktop
	sha256sums = 6f1d5ec0d3f7037ad211bb412668f8a7496947cd2ff076dc137a64ea06ca51c6

pkgname = librewolf-firefox-symlink-kj_sh604
