pkgbase = awesome-kj_sh604
	pkgdesc = this is just a renamed awesomeWM build, customized to suit my personal preferences on my system. (tagged release)
	pkgver = 25.11.07
	pkgrel = 1
	url = https://awesomewm.org
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = asciidoctor
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = git
	makedepends = imagemagick
	makedepends = ldoc
	makedepends = xmlto
	depends = cairo
	depends = dbus
	depends = gdk-pixbuf2
	depends = libxdg-basedir
	depends = libxkbcommon-x11
	depends = lua
	depends = lua-lgi
	depends = pango
	depends = startup-notification
	depends = xcb-util-cursor
	depends = xcb-util-keysyms
	depends = xcb-util-wm
	depends = xcb-util-xrm
	depends = libxfixes
	optdepends = rlwrap: readline support for awesome-client
	optdepends = dex: autostart your desktop files
	optdepends = xcb-util-errors: for pretty-printing of X11 errors
	optdepends = librsvg: for displaying SVG files without scaling artifacts
	provides = notification-daemon
	provides = awesome
	conflicts = awesome
	backup = etc/xdg/awesome/rc.lua
	source = awesome::git+https://github.com/kj-sh604/awesome.git#commit=e080bf262a80ecfb3fc02f3014dfc2d7069c3ef5
	sha256sums = c43dc18e923741ce2827b0ce0367d988cc5e88bc784f8069274278b5b3b9e403

pkgname = awesome-kj_sh604
