pkgbase = ladybird-kj_sh604
	pkgdesc = Truly independent web browser (personally maintained by: kj_sh604)
	pkgver = 20250904
	pkgrel = 1
	url = https://github.com/LadybirdBrowser/ladybird
	arch = x86_64
	license = BSD-2-Clause
	makedepends = autoconf-archive
	makedepends = automake
	makedepends = cmake
	makedepends = git
	makedepends = nasm
	makedepends = ninja
	makedepends = tar
	makedepends = unzip
	makedepends = zip
	depends = curl
	depends = ffmpeg
	depends = libgl
	depends = qt6-base
	depends = qt6-multimedia
	depends = qt6-tools
	depends = qt6-wayland
	depends = ttf-liberation
	provides = ladybird
	conflicts = ladybird
	options = !lto
	options = !debug
	options = !buildflags
	options = !staticlibs
	options = !emptydirs
	source = git+https://github.com/LadybirdBrowser/ladybird#commit=87c7fb1d633676201c96bb3c5c09a81719691990
	source = git+https://github.com/microsoft/vcpkg.git#commit=120deac3062162151622ca4860575a33844ba10b
	sha256sums = 59d3c9e2449bfaa17cbd6af67e86d7864c328183ea432ce6c4c992bc9f67c411
	sha256sums = 8eee3f54a076a3d16fda6d047b1b812ecda69d75d474512c35f881a57b99b2e4

pkgname = ladybird-kj_sh604
