pkgbase = ladybird-kj_sh604
	pkgdesc = Truly independent web browser (personally maintained by: kj_sh604)
	pkgver = 20250802
	pkgrel = 1
	url = https://github.com/LadybirdBrowser/ladybird
	arch = x86_64
	license = BSD-2-Clause
	makedepends = autoconf-archive
	makedepends = automake
	makedepends = cmake
	makedepends = git
	makedepends = nasm
	makedepends = ninja
	makedepends = tar
	makedepends = unzip
	makedepends = zip
	depends = curl
	depends = ffmpeg
	depends = libgl
	depends = qt6-base
	depends = qt6-multimedia
	depends = qt6-tools
	depends = qt6-wayland
	depends = ttf-liberation
	provides = ladybird
	conflicts = ladybird
	options = !lto
	options = !debug
	options = !buildflags
	options = !staticlibs
	options = !emptydirs
	source = git+https://github.com/LadybirdBrowser/ladybird#commit=3dd8b3230e7a9a198e6a0cc68f8a226a7b7c1617
	source = git+https://github.com/microsoft/vcpkg.git#commit=903956eff7cb94774a9e805ff573c000afc43e3e
	sha256sums = 59432d4e43baaee58680b4033d896942a43312a2f4c1bd947b1e9fe7f0bbfaf7
	sha256sums = 6c12cb5abdf86e705cc0ab66a23f3f60200af0ebc0543f7892d072a4a0800387

pkgname = ladybird-kj_sh604
