pkgbase = agave
	pkgdesc = Colorscheme designer tool for GNOME
	pkgver = 0.4.7
	pkgrel = 604
	url = https://web.archive.org/web/20170327063642/http://home.gna.org/colorscheme/
	arch = x86_64
	license = GPL
	makedepends = gnome-doc-utils
	makedepends = intltool
	makedepends = boost
	depends = libglademm
	source = http://archive.ubuntu.com/ubuntu/pool/universe/a/agave/agave_0.4.7.orig.tar.gz
	source = agave-0.4.7-mdv-fix-str-fmt.patch
	source = schemebox.patch
	source = drop-libgnome.patch
	source = fix-build-without-gconf.patch

pkgname = agave
