pkgbase = azure-cli-kj_sh604
	pkgdesc = Command-line tools for Microsoft Azure (uses python3.10)
	pkgver = 2.72.0
	pkgrel = 1
	url = https://github.com/Azure/azure-cli
	arch = any
	license = MIT
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = libsecret
	depends = python310
	provides = azure-cli
	conflicts = azure-cli
	options = !debug
	options = !strip
	source = git+https://github.com/Azure/azure-cli.git#tag=azure-cli-2.72.0
	source = az
	sha256sums = 3ab4219fe2564077a094d11bb0db4068692a96cf93e1300bfe7e86e24a22b995
	sha256sums = 990f70efec828c1e1f3f57748fc6e40f9705f2223dc96683e8e29d118daac116

pkgname = azure-cli-kj_sh604
