pkgbase = azure-cli-kj_sh604
	pkgdesc = Command-line tools for Microsoft Azure (uses python3.11)
	pkgver = 2.73.0
	pkgrel = 1
	url = https://github.com/Azure/azure-cli
	arch = any
	license = MIT
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = libsecret
	depends = python311
	provides = azure-cli
	conflicts = azure-cli
	options = !debug
	options = !strip
	source = git+https://github.com/Azure/azure-cli.git#tag=azure-cli-2.73.0
	source = az
	sha256sums = cbc40b9fd5b34771d84960cf20f6bffdcd1ed99c3af56e6a4fbece5306e29ffc
	sha256sums = 990f70efec828c1e1f3f57748fc6e40f9705f2223dc96683e8e29d118daac116

pkgname = azure-cli-kj_sh604
