pkgbase = azure-cli-kj_sh604
	pkgdesc = Command-line tools for Microsoft Azure (uses python3.12)
	pkgver = 2.75.0
	pkgrel = 1
	url = https://github.com/Azure/azure-cli
	arch = any
	license = MIT
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = libsecret
	depends = python312
	provides = azure-cli
	conflicts = azure-cli
	options = !debug
	options = !strip
	source = git+https://github.com/Azure/azure-cli.git#tag=azure-cli-2.75.0
	source = az
	sha256sums = 2092aabd27a064df4ebb070320c08b57f6cbe6202ca0959217dbcf7408e741ba
	sha256sums = beba4c6b852bd4f3b2bfaa26cec9318b19b677a937c3e9ce239c21b13ec00b07

pkgname = azure-cli-kj_sh604
