pkgbase = coreutils-hybrid
	pkgdesc = GNU coreutils / uutils-coreutils hybrid package. Uses stable uutils programs mixed with GNU counterparts if uutils counterpart is unfinished / buggy
	pkgver = 9.5_0.0.26
	pkgrel = 604
	url = https://www.gnu.org/software/coreutils/
	arch = x86_64
	license = GPL3
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = python-sphinx
	depends = glibc
	depends = acl
	depends = attr
	depends = gmp
	depends = libcap
	depends = openssl
	depends = gcc-libs
	depends = libkeccak
	provides = coreutils
	provides = b3sum
	provides = sha3sum
	conflicts = coreutils
	conflicts = coreutils-hybrid
	conflicts = coreutils-hybrid-git
	conflicts = b3sum
	conflicts = sha3sum
	source = https://ftp.gnu.org/gnu/coreutils/coreutils-9.5.tar.xz
	source = uutils-coreutils-0.0.26.tar.gz::https://github.com/uutils/coreutils/archive/0.0.26.tar.gz
	sha512sums = 2ca0deac4dc10a80fd0c6fd131252e99d457fd03b7bd626a6bc74fe5a0529c0a3d48ce1f5da1d3b3a7a150a1ce44f0fbb6b68a6ac543dfd5baa3e71f5d65401c
	sha512sums = ba3eb06b4a11ba1adbe28fd53282827a148a3dd616db06230f7d31810418fd80f024e55ecd29ff2556b307f146bd99b083bd337912a900e7190db1c32bdf5cb0

pkgname = coreutils-hybrid
