pkgbase = posy-cursors-kj_sh604
	pkgdesc = Posy's improved X11 cursor themes (vendored linux 1.6 set with kj_sh604 custom set)
	pkgver = 1.7
	pkgrel = 1
	url = http://www.michieldb.nl/other/cursors
	arch = any
	license = custom
	provides = posy-cursors
	conflicts = posy-cursors
	source = https://kj-media.online/files/posy-cursors-linux-1-7/posy-cursors-linux-1.7.tar
	sha256sums = 6536b370649f3b51d4cb6e5bc1bfe9ffe9d6765b0cb122eb3d9b7bec17dc37c3

pkgname = posy-cursors-kj_sh604
