pkgbase = kj-arch-bin-wrapper
	pkgdesc = kj_sh604's wrapper script for arch command (uname -m)
	pkgver = 2026.01.13.2206
	pkgrel = 1
	url = https://www.gnu.org/software/coreutils/coreutils.html
	arch = any
	license = 0BSD
	depends = coreutils

pkgname = kj-arch-bin-wrapper
