pkgbase = coreutils-uutils-kj_sh604
	pkgdesc = Cross-platform Rust rewrite of the GNU coreutils installed as system core utilities (WARNING: use at own risk).
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/uutils/coreutils
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = clang
	makedepends = python-sphinx
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	depends = oniguruma
	provides = coreutils
	provides = b3sum
	provides = sha3sum
	conflicts = coreutils
	conflicts = b3sum
	conflicts = sha3sum
	source = uutils-coreutils-0.5.0.tar.gz::https://github.com/uutils/coreutils/archive/0.5.0.tar.gz
	source = glibc-2.42.patch::https://git.launchpad.net/~juliank/ubuntu/+source/rust-coreutils/plain/debian/patches/glibc-2.42.patch?h=ubuntu/devel&id=a16e77bec0546ee51770a891a24468e8048242e3
	source = nix-rust0.30.1.tar.gz::https://github.com/nix-rust/nix/archive/refs/tags/v0.30.1.tar.gz
	source = 8b1b869-symlink-different-filesystem.patch::https://github.com/uutils/coreutils/commit/8b1b86914ae5e4e364e11a164b9d5e9a6e75da64.patch
	sha256sums = 83535e10c3273c31baa2f553dfa0ceb4148914e9c1a9c5b00d19fbda5b2d4d7d
	sha256sums = 3516ae0e2a4fe5fc4996e0f7c9952213f5b7394c739c79f31bafd2ba2a9e2ebb
	sha256sums = 31742bef74cad04c8bd8c9a7301323e3df35847f5b776024221cbd2060cd5ed7
	sha256sums = 39e76235cd5cd674962f47bd94d56f7840e9487f887f5ba905dbd3e56d6d5b38

pkgname = coreutils-uutils-kj_sh604
