pkgbase = kjagave-git
	pkgdesc = a color picker inspired by agave, but only with the features that kj_sh604 used
	pkgver = r28.740e634
	pkgrel = 1
	url = https://kj-git.com/kjagave/
	arch = x86_64
	license = 0BSD
	makedepends = go
	makedepends = git
	depends = gtk3
	optdepends = xcolor: for screen color picking
	provides = kjagave
	conflicts = kjagave
	source = git+https://kj-git.com/kjagave/
	sha384sums = SKIP

pkgname = kjagave-git
