pkgbase = elementary-xfce-icons-inherits-hook-kj_sh604
	pkgdesc = Pacman hook to modify elementary-xfce icon theme inheritance
	pkgver = 2025.12.29
	pkgrel = 1
	arch = any
	license = GPL
	depends = pacman
	optdepends = elementary-xfce-icons: elementary xfce icon theme
	optdepends = elementary-xfce-icons-git: elementary xfce icon theme (git version)
	source = elementary-xfce-icons-inherits.hook
	source = elementary-xfce-icons-inherits.sh
	sha256sums = 5942df880affa34035840a57e46fc7330807cc06dab99ada9660b56a88542fec
	sha256sums = dec58a724e139b4dec48d79d2885329080e043552b961607c22da962074fff95

pkgname = elementary-xfce-icons-inherits-hook-kj_sh604
