pkgbase = elementary-xfce-icons-inherits-hook-kj_sh604
	pkgdesc = Pacman hook to modify elementary-xfce icon theme inheritance
	pkgver = 2026.01.13.2336
	pkgrel = 1
	arch = any
	license = GPL
	depends = pacman
	optdepends = elementary-xfce-icons: elementary xfce icon theme
	optdepends = elementary-xfce-icons-git: elementary xfce icon theme (git version)
	source = elementary-xfce-icons-inherits.hook
	source = elementary-xfce-icons-inherits.sh
	sha256sums = 5942df880affa34035840a57e46fc7330807cc06dab99ada9660b56a88542fec
	sha256sums = 8e438b0dd5fc78138f8d27c865e4164fd09e7a1c09b4668253035246e4d5d258

pkgname = elementary-xfce-icons-inherits-hook-kj_sh604
