pkgbase = lanxchange-fork
	pkgdesc = Configuration-free, cross-platform file transfers for your local network (fork)
	pkgver = 1.41
	pkgrel = 604
	url = https://lanxchange.com
	install = lanxchange.install
	arch = any
	license = GPL3
	makedepends = gendesk
	depends = java-runtime>=8
	depends = bash
	provides = lanxchange
	conflicts = lanxchange
	source = lanxchange-1.41.zip::https://github.com/kj-sh604/LanXchange/releases/download/v1.41/lxc.zip
	sha256sums = 18fb4e05a8cf858baf1ff3b079be63eb6228424eb5de596f3cc604dbb8fa2102

pkgname = lanxchange-fork
