pkgbase = kj-boomer-git
	pkgdesc = Zoomer application for Linux (C rewrite of boomer).
	pkgver = r0.0
	pkgrel = 1
	url = https://kj-git.com/kj-boomer/
	arch = x86_64
	license = MIT
	makedepends = git
	depends = libx11
	depends = libgl
	depends = libxext
	depends = libxrandr
	depends = glew
	provides = boomer
	provides = kj-boomer
	conflicts = boomer
	conflicts = boomer-git
	conflicts = kj-boomer
	source = kj-boomer::git+https://kj-git.com/kj-boomer/
	md5sums = SKIP

pkgname = kj-boomer-git
