pkgbase = coreutils-kj_sh604
	pkgdesc = The basic file, shell and text manipulation utilities of the GNU operating system (with the `arch` binary, managed by kj_sh604)
	pkgver = 9.9
	pkgrel = 1
	url = https://www.gnu.org/software/coreutils/
	arch = x86_64
	license = GPL-3.0-or-later
	license = GFDL-1.3-or-later
	makedepends = git
	makedepends = gperf
	makedepends = python
	makedepends = wget
	depends = acl
	depends = attr
	depends = glibc
	depends = gmp
	depends = libcap
	depends = openssl
	provides = coreutils
	provides = coreutils-arch
	conflicts = coreutils
	conflicts = coreutils-arch
	options = !lto
	source = https://ftp.gnu.org/gnu/coreutils/coreutils-9.9.tar.xz
	b2sums = ddae0c1ff882739712e901d6eb1373e4172de9335b95b4c1004773aadc6b7e3cb3bf5aa583f13034062a75dc9194bf8534b0f7f1258c8ff64595b1301964e124

pkgname = coreutils-kj_sh604
