pkgbase = coreutils-kj_sh604
	pkgdesc = The basic file, shell and text manipulation utilities of the GNU operating system (with the `arch` binary, managed by kj_sh604)
	pkgver = 9.8
	pkgrel = 1
	url = https://www.gnu.org/software/coreutils/
	arch = x86_64
	license = GPL-3.0-or-later
	license = GFDL-1.3-or-later
	makedepends = git
	makedepends = gperf
	makedepends = python
	makedepends = wget
	depends = acl
	depends = attr
	depends = glibc
	depends = gmp
	depends = libcap
	depends = openssl
	provides = coreutils
	provides = coreutils-arch
	conflicts = coreutils
	conflicts = coreutils-arch
	options = !lto
	source = https://ftp.gnu.org/gnu/coreutils/coreutils-9.8.tar.xz
	b2sums = a93e26c8dda875b11541808d82ff8d6537f521b9c44e2a9959ee8f452823a4df5aed2793ac32766e2d3f832606d7190f7f53ea5870419f585aa66429a9626d98

pkgname = coreutils-kj_sh604
