pkgbase = slock
	pkgdesc = A simple screen locker for X
	pkgver = 1.5
	pkgrel = 3
	url = https://tools.suckless.org/slock
	arch = x86_64
	license = MIT
	makedepends = git
	depends = libxext
	depends = libxrandr
	source = https://aedrielkylejavier.me/assets/slock-1.5.tar.gz
	sha256sums = d1f9cb0a58985c77a80a737fbd09b5b82e41ff08f0d1a6b2824db335c3bfa10b

pkgname = slock
