pkgbase = gimp-batcher-kj_sh604
	pkgdesc = A batch processing plugin for the new generation of GIMP
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/kamilburda/batcher
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = unzip
	depends = gimp>=3.0
	depends = python>=3.7
	depends = python-gobject
	source = https://github.com/kamilburda/batcher/releases/download/1.0.2/batcher-1.0.2.zip
	sha256sums = fa9a83a4a278880f504e546f10503de3bfb2f07aa1e96668f9a778de7c7d936f

pkgname = gimp-batcher-kj_sh604
