pkgbase = gimp-batcher-kj_sh604
	pkgdesc = A batch processing plugin for the new generation of GIMP
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/kamilburda/batcher
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = unzip
	depends = gimp>=3.0
	depends = python>=3.7
	depends = python-gobject
	source = https://github.com/kamilburda/batcher/releases/download/1.1.1/batcher-1.1.1.zip
	sha256sums = d99eacdf004c7cb3c24d777067ae6fc2d0cc069026e883f6eb46ad08a3d5c4fa

pkgname = gimp-batcher-kj_sh604
