pkgbase = gimp-batcher-kj_sh604
	pkgdesc = A batch processing plugin for the new generation of GIMP
	pkgver = 1.0_RC4
	pkgrel = 1
	url = https://github.com/kamilburda/batcher
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = unzip
	depends = gimp>=3.0
	depends = python>=3.7
	depends = python-gobject
	source = https://github.com/kamilburda/batcher/releases/download/1.0-RC4/batcher-1.0-RC4.zip
	sha256sums = d214d498637a6632a0e5d95d3c6caea8aec4009a8ad7b624619d0d021c3200fc

pkgname = gimp-batcher-kj_sh604
